/* CSS from the original cornell.edu stylesheet */
.cu-info #main {
    padding: 0; }
    .cu-info #main > .container {
      padding: 0;
      position: relative; }
  
  .cu-title, .link-pile-title {
    font-size: 14px; }
  
  @media (min-width: 60em) {
    a#cu-logo {
      display: block; }
  
    .cu-info #main > .container {
      max-width: 79em;
      padding-left: 2em;
      padding-right: 2em;
      margin-left: auto;
      margin-right: auto; }
      .cu-info #main > .container:after {
        content: "";
        display: table;
        clear: both; } }
  .lt-ie9 .cu-info #main > .container {
    max-width: 79em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto; }
    .lt-ie9 .cu-info #main > .container:after {
      content: "";
      display: table;
      clear: both; }
  
  .cu-info-logotype {
    margin: 0 0 0.75em;
    color: #000;
    font-size: 32px;
    font-family: 'freight-text-pro-n4', 'freight-text-pro', serif; }
    @media (max-width: 1023px) {
      .cu-info-logotype {
        margin-bottom: 0; } }
  
  .cu-logotype {
    display: block;
    color: #000; }
  
  .cuinfo-intro-signature {
    display: flex;
    margin-top: 2em;
    width: 100%;
    align-items: center; }
    .cuinfo-intro-signature .sig_headshot {
      width: 85px;
      margin-right: 20px; }
      .cuinfo-intro-signature .sig_headshot img {
        width: 100%; }
    .cuinfo-intro-signature .sig_signature {
      vertical-align: middle; }
  
  .cu-info-sidebar {
    background-color: #f6f6f6;
    padding: 36px 4.21456% 0;
    position: relative; }
    @media (max-width: 36em) {
      .cu-info-sidebar {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important; }
        .cu-info-sidebar .submit_content {
          margin-bottom: 24px; } }
    @media (min-width: 36em) and (max-width: 60em) {
      .cu-info-sidebar {
        width: 38%;
        padding: 24px 24px 0; } }
    @media (min-width: 60em) {
      .cu-info-sidebar {
        width: 38%; } }
    @media (min-width: 768px) {
      .cu-info-sidebar {
        border-left: 1px solid #e6e6e6; } }
    @media (max-width: 767px) {
      .cu-info-sidebar {
        padding-top: 24px;
        padding-bottom: 24px; } }
    .lt-ie9 .cu-info-sidebar {
      display: block;
      float: left;
      width: 38%;
      height: 100%; }
  
  a.cu-info-cta .icon, a.cu-info-cta:hover {
    background-color: #2777a0; }
  
  .cu-info-ctas .cu-select, a.cu-info-cta {
    display: -moz-inline-stack;
    line-height: 45px;
    vertical-align: middle;
    zoom: 1; }
  
  .cu-info-ctas {
    margin-top: 22.5px; }
    .lt-ie9 .cu-info-ctas {
      margin-top: 45px; }
    @media (min-width: 36em) and (max-width: 60em) {
      .cu-info-ctas {
        margin-top: 31.5px; } }
    @media (min-width: 60em) {
      .cu-info-ctas {
        margin-top: 45px; } }
    .cu-info-ctas .cu-select-label {
      font-size: 17px; }
    .cu-info-ctas .cu-select-enabled {
      height: 45px; }
    .cu-info-ctas .cu-select {
      -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
      display: inline-block;
      border: 1px solid #d6d6d6;
      height: 45px;
      min-width: 140px;
      padding: 0 30px 0 12px;
      position: relative;
      width: 100%; }
      .lt-ie9 .cu-info-ctas .cu-select {
        margin-top: 12px;
        width: auto; }
      @media (min-width: 60em) {
        .cu-info-ctas .cu-select {
          margin-top: 12px;
          width: auto; } }
      .cu-info-ctas .cu-select:before {
        line-height: 40px;
        right: 12px;
        top: 6px; }
  
  a.cu-info-cta {
    display: inline-block;
    font-size: 13px;
    margin-right: 8px;
    margin-bottom: 12px;
    height: 45px;
    padding: 0 30px 0 56px;
    position: relative;
    width: 100%; }
    a.cu-info-cta .icon {
      display: block;
      float: left;
      width: 40px;
      height: 45px;
      position: absolute;
      top: 0;
      left: 0; }
    .lt-ie9 a.cu-info-cta {
      margin-bottom: 0;
      margin-top: 12px;
      width: auto; }
    @media (min-width: 60em) {
      a.cu-info-cta {
        margin-bottom: 0;
        margin-top: 12px;
        width: auto; } }
  
  .cu-info-block {
    padding: 0 0 24px;
    position: relative;
    width: 100%; }
    .cu-info-block.caring-community {
      border: none; }
    .cu-info-block.campus-updates article {
      position: relative;
      margin-bottom: 25px; }
      .cu-info-block.campus-updates article:last-of-type {
        margin-bottom: 0; }
    .cu-info-block.campus-updates h4 {
      position: absolute;
      top: 0;
      left: 0;
      width: 16em;
      text-align: center;
      display: inline-block; }
    .cu-info-block.campus-updates .alert-operating-status h4 {
      background: #846B36; }
    .cu-info-block.campus-updates .alert-general h4 {
      background: #555; }
    .cu-info-block.campus-updates .alert-IT h4 {
      background: #073949; }
    .cu-info-block.campus-updates .alert-special h4 {
      background: #AD6203; }
    .cu-info-block.campus-updates .alert-fyi h4 {
      background: #0068ac; }
    .cu-info-block.campus-updates time {
      position: absolute;
      top: 0;
      left: 11em; }
    .cu-info-block.campus-updates h3 {
      margin-top: 1.25em; }
    .cu-info-block.campus-updates p, .cu-info-block.campus-updates .alert-details {
      color: #333;
      font-weight: 400; }
    .cu-info-block.campus-updates p .more {
      color: #006699;
      font-weight: 500; }
    .cu-info-block.campus-updates a:hover .more {
      color: #073349;
      outline: none;
      text-decoration: underline; }
    .cu-info-block.people-search {
      margin-bottom: 0; }
    .lt-ie9 .cu-info-block {
      margin-bottom: 36px;
      padding-bottom: 36px;
      padding-left: 38px; }
    @media (min-width: 36em) and (max-width: 60em) {
      .cu-info-block {
        margin-bottom: 36px;
        padding-bottom: 36px; }
        .cu-info-block.campus-updates {
          margin-bottom: 0;
          padding-bottom: 0; } }
    @media (min-width: 60em) {
      .cu-info-block {
        margin-bottom: 36px;
        padding-bottom: 36px;
        padding-left: 38px; }
        .cu-info-block.campus-updates {
          margin-bottom: 0;
          padding-bottom: 0; } }
  
  .cu-info .cu-news.engaged .news-headline {
    font-size: 24px; }
  .lt-ie9 .cu-info .cu-news.engaged .news-content {
    margin-left: 0; }
  
  .cu-info-ctas {
    margin-bottom: 60px; }
  
  .cu-info-icon {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-size: 25px;
    position: relative;
    left: 0;
    top: -2px;
    margin-right: 4px; }
    .lt-ie9 .cu-info-icon {
      position: absolute;
      left: -36px;
      top: -7px; }
    @media (min-width: 60em) {
      .cu-info-icon {
        position: absolute;
        left: -36px;
        top: -7px; } }
  
  .grid_layout {
    position: relative; }
    .grid_layout .divider {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #e6e6e6; }
    .grid_layout .grid_item {
      box-sizing: border-box;
      display: block; }
      .grid_layout .grid_item.grid_nav {
        width: 7%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0; }
      .grid_layout .grid_item.grid_main {
        width: 61%;
        margin-left: 7%; }
      .grid_layout .grid_item.grid_sidebarGroup {
        width: 28%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0; }
      .grid_layout .grid_item.grid_alerts.alerts-text-notify-hidden {
        display: none; }
    .grid_layout .grid_item.grid_nav {
      background-color: #f6f6f6;
      border-right: 1px solid #e6e6e6; }
    @media (min-width: 1024px) {
      .grid_layout .grid_item.grid_sidebarGroup {
        padding: 36px 48px 0; } }
    @media (max-width: 1023px) {
      .grid_layout .grid_item.grid_alerts.divider {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0; }
      .grid_layout .grid_item.grid_nav {
        width: unset;
        position: relative; }
      .grid_layout .grid_item.grid_main {
        width: 65%;
        margin-left: 0; }
      .grid_layout .grid_item.grid_sidebarGroup {
        width: 35%; } }
    @media (min-width: 768px) {
      .grid_layout .hidden_desktop {
        display: none !important; }
      .grid_layout .grid_item.grid_main {
        padding: 0 36px 1em 52px; }
        .grid_layout .grid_item.grid_main .cuinfo-top-stories {
          padding-top: 0;
          display: inline-block; }
      .grid_layout .grid_item.grid_header {
        padding-top: 36px; }
      .grid_layout .grid_item.grid_alerts {
        margin-bottom: 30px; }
      .grid_layout .grid_item.grid_sidebarGroup {
        padding: 36px 36px 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: stretch;
        align-content: stretch; }
        .grid_layout .grid_item.grid_sidebarGroup .sidebar_instagram {
          margin-left: -36px;
          margin-right: -36px;
          width: calc(100% + 72px);
          align-self: flex-end;
          margin-top: auto;
          padding-top: 36px; } }
    @media (max-width: 767px) {
      .grid_layout .grid_item {
        width: 100%;
        display: block;
        padding: 10px 52px 10px 20px; }
        .grid_layout .grid_item.grid_nav {
          padding: 0;
          background: transparent;
          border: none; }
        .grid_layout .grid_item.grid_alerts {
          padding-right: 20px; }
        .grid_layout .grid_item.grid_header {
          padding-top: 1em; }
        .grid_layout .grid_item.grid_body {
          padding-top: 1em; }
        .grid_layout .grid_item.grid_sidebarGroup {
          padding-top: 20px;
          padding-bottom: 20px; }
          .grid_layout .grid_item.grid_sidebarGroup.hidden_desktop .sidebar_favorites {
            padding-bottom: 20px;
            margin-bottom: 0;
            border: 0; }
        .grid_layout .grid_item.grid_nav {
          position: relative; }
        .grid_layout .grid_item.grid_main {
          width: 100%;
          position: relative; }
        .grid_layout .grid_item.grid_sidebarGroup {
          width: 100%;
          float: none;
          position: relative; }
      .grid_layout .hidden_mobile {
        display: none; } }
    @supports (display: grid) {
      .grid_layout {
        display: grid;
        grid-template-rows: min-content min-content 1fr; }
        .grid_layout .grid_item.grid_sidebarGroup {
          position: relative; }
        @media (min-width: 768px) {
          .grid_layout {
            align-items: start;
            grid-template-columns: 65% 35%; }
            .grid_layout .grid_item {
              position: relative;
              width: unset !important;
              top: unset !important;
              left: unset !important;
              right: unset !important;
              bottom: unset !important;
              margin: unset !important; }
              .grid_layout .grid_item.grid_header {
                grid-column: 1;
                grid-row: 1; }
              .grid_layout .grid_item.grid_alerts {
                grid-column: 1;
                grid-row: 2; }
              .grid_layout .grid_item.grid_body {
                grid-column: 1;
                grid-row: 3; }
              .grid_layout .grid_item.grid_sidebarGroup:not(.hidden_desktop) {
                grid-column: 2;
                grid-row: 1 / span 3; } }
        @media (min-width: 1024px) {
          .grid_layout {
            grid-template-columns: 8% 61% 31%; }
            .grid_layout .grid_item.grid_main {
              padding: 0 60px 1em; }
            .grid_layout .grid_item.grid_nav {
              grid-column: 1;
              grid-row: 1 / span 3;
              height: 100%;
              display: block;
              position: relative; }
            .grid_layout .grid_item.grid_header {
              grid-column: 2;
              grid-row: 1;
              padding-top: 36px; }
            .grid_layout .grid_item.grid_alerts {
              grid-column: 2;
              grid-row: 2; }
            .grid_layout .grid_item.grid_body {
              grid-column: 2;
              grid-row: 3; }
            .grid_layout .grid_item.grid_sidebarGroup:not(.hidden_desktop) {
              grid-column: 3;
              grid-row: 1 / span 3;
              width: 100% !important; } } }
  
  .header_group {
    display: flex;
    flex-direction: row; }
    .header_group > [class^="header_"] {
      flex: 1 1 50%; }
    .header_group .header_weather {
      align-self: flex-start;
      text-align: right; }
    @media (max-width: 767px) {
      .header_group {
        flex-direction: column-reverse; }
        .header_group .header_weather {
          text-align: left;
          padding-bottom: 1em; } }
  
  /* Alert Badges
     ------------------------------ */
  .badge-alert {
    font-size: 14px;
    line-height: 14px;
    width: 16px;
    height: 16px;
    text-align: center;
    background: #b31b1b;
    -moz-border-radius: 20em;
    -webkit-border-radius: 20em;
    border-radius: 20em;
    color: #fff;
    position: absolute;
    top: 21px;
    right: 28%;
    right: calc(50% - 20px); }
    .ie .badge-alert, .touch .badge-alert {
      line-height: 14px; }
  
  @-moz-document url-prefix() {
    /* FF */
    .badge-alert {
      line-height: 14px; } }
  .alerts-text-notify-hidden {
    display: none; }
  
  #alerts-text-notify a {
    padding: 10px;
    margin: 0 0 24px; }
  @media (min-width: 1024px) {
    #alerts-text-notify {
      display: none; } }
  
  @media (max-width: 1023px) {
    .cu-info-home-alerts .campus-updates {
      display: none; } }
  
  /* Instagram Image
     ------------------------------ */
  .cu-info .instagram {
    width: 100%; }
    .cu-info .instagram .cu-title {
      text-align: center; }
    .cu-info .instagram .icon-instagram {
      color: #e0e0e0;
      display: block;
      font-size: 23px; }
  
  .cu-info .instagram img {
    width: 100%;
    height: auto;
    background: #333;
    color: #fff;
    text-align: center;
    display: block; }
  
  .cu-info a.instagram-link {
    position: relative; }
  
  @media (max-width: 767px) {
    .cu-info .instagram {
      display: block;
      position: relative;
      margin: 20px -52px -10px -20px;
      width: 100vw; }
  
    .cu-info .instagram img {
      height: 100vw; } }
  .cu-info .instagram .widget a:after {
    /* css fader */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,f6f6f6+100&1+0,0.8+20,0+100 */
    background: -moz-linear-gradient(top, #f6f6f6 0%, rgba(246, 246, 246, 0.125) 30%, rgba(246, 246, 246, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f6f6f6 0%, rgba(246, 246, 246, 0.125) 30%, rgba(246, 246, 246, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f6f6f6 0%, rgba(246, 246, 246, 0.125) 30%, rgba(246, 246, 246, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#00f6f6f6',GradientType=0 );
    /* IE6-9 */ }
  
  .lt-ie9 .cu-info .instagram a:after {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6f6f6', endColorstr='#f6f6f6',GradientType=0 ); }
  
  .cu-info .people-search .cu-title {
    text-shadow: 0 1px 0 #f6f6f6; }
  
  .cu-info .social-instagram p {
    line-height: 1.5; }
  
  #instagram-icon {
    position: absolute;
    top: 12px;
    left: 10%; }
  
  @media (max-width: 1024px) {
    .home-events li.event-item {
      float: none;
      width: 100%;
      padding-bottom: 0.5em;
      margin-bottom: 1em; } }
  .cu-ftr-inner {
    padding-top: 0; }
    .cu-ftr-inner .ftr-info {
      border-top: 0; }
  
  .sidebar_favorites .cuinfo-note {
    margin-bottom: 0;
    padding: 10px; }
  
  .offscreen {
    color: #000 !important; }
  
  .morelink {
    color: #006699;
    text-decoration: underline; }
  
  #alerts {
    margin-bottom: 46px; }
  
  /* Custom styles */
  .cu-title.underline {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 24px;
    padding-bottom: 12px; }
  
  .cuinfo-top-stories .cu-title,
  .cuinfo-fs-events .cu-title,
  .cuinfo-fs-section .cu-title {
    color: #b31b1b; }
  
  .btn.btn-inline {
    display: inline-block;
    padding: 9px; }
  
  .btn.btn-inline:focus {
      text-decoration: underline;
  }
  
  @media (min-width: 60em) {
    hr {
      margin-top: 30px;
      margin-bottom: 30px; } }
  /* Intro */
  .cuinfo-intro {
    display: flex; }
  
  .cuinfo-intro h1, .cuinfo-intro h2, .cuinfo-intro h3, .cuinfo-intro h4, .cuinfo-intro h5, .cuinfo-intro h6 {
    font-family: 'freight-text-pro',serif;
    font-weight: 700;
    line-height: 125%; }
  
  .cuinfo-intro h2 {
    font-size: 1.6em; }
  
  .cuinfo-intro h3 {
    font-size: 1.5em; }
  
  .cuinfo-intro h4 {
    font-size: 1.4em; }
  
  .cuinfo-intro.wrap {
    display: block;
    padding-bottom: 100px; }
  
  .cuinfo-intro-img img {
    width: 100%; }
  
  @media (min-width: 768px) {
    /* Non wrapping */
    .cuinfo-intro > div:first-child {
      margin-right: 20px; }
  
    .cuinfo-intro-img {
      max-width: 150px;
      flex: 1 1 50%; }
  
    /* Wrapping */
    .cuinfo-intro.wrap .cuinfo-intro-img {
      float: right;
      margin-left: 20px;
      margin-right: 0; } }
  @media (min-width: 1024px) {
    .cuinfo-intro-img {
      max-width: 300px;
      flex: 1 1 50%; } }
  @media (max-width: 768px) {
    .cuinfo-intro-img {
      margin-bottom: 1em; } }
  /* Top Stories */
  .cuinfo-top-stories ul {
    padding: 0;
    margin-left: 20px;
    font-family: 'freight-text-pro', serif; }
  
  .cuinfo-top-stories ul li {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    font-family: inherit; }
  
  .cuinfo-top-stories ul li a {
    font-family: inherit;
    color: #000;
    font-weight: 500; }
  
  .cuinfo-top-stories ul li a,
  .cuinfo-top-stories ul li a span {
    color: #006699;
    text-decoration: underline;
    text-decoration-color: rgba(0, 102, 153, 0);
    transition: text-decoration-color 0.5s ease-in-out; }
  
  .cuinfo-top-stories ul li a:hover,
  .cuinfo-top-stories ul li a:hover span {
    text-decoration-color: #006699 !important; }
  
  /* Sections */
  @media (min-width: 60em) {
    .cuinfo-fs-section {
      padding: 30px 0;
      display: block; }
  
    .cuinfo-fs-section:last-child {
      margin-bottom: 60px; }
  
    .cuinfo-fs-section ul {
      margin-bottom: 0; }
  
    .cuinfo-fs-section .grid-boxes {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start; }
  
    .cuinfo-fs-section .grid-box {
      margin-bottom: 0;
      float: none;
      margin-left: 0; } }
  .cuinfo-fs-section .news-item {
    margin-bottom: 0; }
  
  .cuinfo-fs-section a {
    color: inherit; }
  
  .cuinfo-fs-section ul {
    font-family: 'freight-text-pro', serif;
    list-style-type: none;
    font-size: 20px; }
  
  .cuinfo-fs-section ul * {
    font-family: 'freight-text-pro', serif;
    line-height: 1.25; }
  
  .cuinfo-fs-section ul li:not(:last-child) {
    margin-bottom: 18px; }
  
  .cuinfo-fs-section .news-item {
    margin-bottom: 0;
    padding-bottom: 0; }
  
  .cuinfo-fs-section .news-item:after {
    display: none; }
  
  .cuinfo-fs-section .news-item img.news-thumb {
    width: 35%;
    margin-right: 1em; }
  
  @media (max-width: 36em) {
    .cuinfo-fs-section .news-item img.news-thumb {
      display: none; }
  
    .cuinfo-fs-section .news-item {
      border-top: thin solid #ccc;
      padding: 0.5em 0 0 0 !important;
      margin: 0.5em 0 !important; } }
  .cuinfo-fs-section .grid-box img {
    margin-bottom: 0; }
  
  .cuinfo-fs-section .grid-title {
    margin-top: 0.5em;
    font-size: 24px; }
  
  @media (max-width: 1024px) {
    .cuinfo-fs-section .grid-boxes.two-col .grid-box {
      float: none !important;
      width: 100% !important; } }
  /* Sidebar: Favorites links */
  .favorite_links .link-pile {
    margin-bottom: 1em; }
  
  /* Sidebar: Spotlight */
  .spotlight .spotlight_img img {
    margin-bottom: 0;
    display: block; }
  
  .spotlight .spotlight_img .grid-title {
    margin-top: 0.5em;
    font-size: 24px;
    line-height: 1.25;
    font-family: 'freight-text-pro',serif; }
  
  /* Cornell CUinfo 2015 
     - Custom Tabbed UI, Favorites, Special Alerts, People Search
  ** ************************************************************************ */
  /* Core cornell.css overrides 
  ** *************************************************** */
  /* remove indent 
     ------------------------------ */
  @media (min-width: 60em) {
    .cu-info-block {
      padding-left: 0; } }
  .lt-ie9 .cu-info-block {
    padding-left: 0; }
  
  @media (min-width: 60em) {
    .cu-info-icon {
      position: static;
      margin-top: -5px; } }
  .lt-ie9 .cu-info-icon {
    position: static; }
  
  /* single column link sets 
     ------------------------------ */
  @media (min-width: 60em) {
    .cu-info-link-set {
      width: 100%;
      margin-right: 0; } }
  .lt-ie9 .cu-info-link-set {
    width: 100%;
    margin-right: 0; }
  
  /* three column link piles 
     ------------------------------ */
  @media (min-width: 60em) {
    .cu-info-link-set {
      width: 100%;
      margin-right: 0; } }
  .lt-ie9 .cu-info-link-set {
    width: 100%;
    margin-right: 0; }
  
  @media (min-width: 36em) and (max-width: 60em) {
    .cu-info-link-set li {
      padding-right: 16px;
      width: 50%; }
  
    .cu-info-link-set li:nth-child(odd) {
      clear: left; } }
  @media (min-width: 60em) {
    .cu-info-link-set li {
      width: 33.33333333%; }
  
    .cu-info-link-set li:nth-child(odd) {
      clear: none; }
  
    .cu-info-link-set li:nth-child(3n+1) {
      clear: left; } }
  .lt-ie9 .cu-info-link-set li {
    padding-right: 1%;
    width: 32%; }
  
  .lt-ie9 .cu-info-link-set li:nth-child(odd) {
    clear: none; }
  
  .lt-ie9 .cu-info-link-set li:nth-child(3n+1) {
    clear: left; }
  
  @media (min-width: 60em) {
    .cu-info-link-set {
      margin-bottom: 42px; } }
  .lt-ie9 .cu-info-link-set {
    margin-bottom: 42px; }
  
  /* full-width design 
     ------------------------------ */
  hr {
    background: #e6e6e6; }
  
  .cu-info #main > .container, .cu-info .cu-hdr-inner {
    max-width: 100em;
    padding: 0; }
  
  .cu-info #cu-brand {
    margin-left: 3%; }
  
  .cu-info a#search-trigger {
    right: 3%; }
  
  @media (min-width: 100em) {
    .cu-info a#search-trigger {
      right: 0; } }
  @media (min-width: 36em) and (max-width: 60em) {
    .cu-info-sidebar {
      width: 31%; } }
  @media (min-width: 60em) {
    .cu-info-sidebar {
      width: 31%; } }
  @media (min-width: 36em) and (max-width: 60em) {
    .cu-info-main {
      width: 69%;
      padding: 42px 3.5% 6% 13.5%; } }
  @media (min-width: 60em) {
    .cu-info-main {
      width: 69%;
      padding: 42px 3.5% 0 12%; } }
  .lt-ie9 .cu-info-main {
    width: 69%;
    padding: 42px 3.5% 0 12%; }
  
  /* ie8 CU identity fixes 
     ------------------------------ */
  .lt-ie9 .cu-info #main {
    padding-top: 52px; }
  
  .lt-ie9 .cu-info .cu-hdr-bg {
    height: 52px; }
  
  .lt-ie9 .cu-info a#search-trigger {
    width: 52px;
    height: 52px;
    line-height: 52px; }
  
  .lt-ie9 .cu-info #cu-brand {
    background: url("../images/cu_logo_red45.gif") 0 50% no-repeat !important;
    width: 170px;
    height: 52px;
    top: 0;
    left: 1%; }
  
  /* link sets 
     ------------------------------ */
  .cu-info-main ul {
    padding-left: 0; }
  
  .cu-info .link-pile li {
    /*font-size: 15px;*/
    padding: 3px 12px 3px 0;
    margin-bottom: 4px; }
  
  .cu-info .link-pile li:nth-child(3n) {
    padding-right: 0; }
  
  .cu-info .link-pile li a {
    /*padding: 3px 0;*/ }
  
  .cu-title, .link-pile-title {
    /* font-size: 17px; */
    font-weight: 800; }
  
  .grid_header .cu-title {
    color: #000;
    margin: 0; }
  
  .link-pile-title {
    color: #b31b1b;
    border: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    line-height: 1.7;
    display: inline-block; }
  
  /* link-list multi-line fix 
     ------------------------------ */
  .cu-info .link-list a {
    white-space: normal;
    display: inline; }
  
  .cu-info .link-list a:before {
    top: auto;
    bottom: -1px; }
  
  /*prevent line breaks on news item links*/
  .news-item a {
    display: inline; }
  
  /* CUinfo Custom UI 
  ** *************************************************** */
  .cu-info-main {
    min-height: 720px; }
  
  .cu-info-main p {
    line-height: 1.6;
    font-size: 17px; }
  
  .cu-info-main p.intro {
    font-size: 19px;
    line-height: 1.4;
    color: #555 !important;
    margin: -20px 0 45px; }
  
  .cu-info-main :not h2:not(.cu-title) {
    margin: 0 0 0.75em;
    font-family: 'freight-text-pro-n4', 'freight-text-pro', serif;
    font-weight: 400;
    /* color: #b31b1b; */
    font-size: 30px;
    line-height: 1.3; }
  
  .cuinfo-section .cu-info-block:last-child {
    border: 0; }
  
  .cu-info-sidebar > div:last-child {
    border: 0; }
  
  .cuinfo-section {
    clear: both; }
  
  #section-home {
    display: none; }
  
  /* optional rounded photos */
                               /*
  .cu-info .rounded {
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
  }
  */
  /* Mini Weather
     ------------------------------ */
  /* .cuinfo-weather {
      float: right;
      margin-top: 1.25em;
  } */
  .cuinfo-weather .ftr-weather-location {
    display: none; }
  
  .cuinfo-weather .ftr-weather-icon {
    color: #707070;
    margin-right: 0.15em; }
  
  .cuinfo-weather .ftr-weather-temp {
    color: #707070; }
  
  /* Main Navigation (Side Tabs)
     ------------------------------ */
  #mobile-toggle {
    display: none; }
  
  #navigation {
    /* background-color: #f6f6f6;
    border-right: 1px solid #e6e6e6; */
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 12%; */ }
  
  #navigation ul {
    margin: 20px 0;
    padding: 0; }
  
  #navigation ul.fixed {
    position: fixed; }
  
  #navigation li {
    list-style: none;
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
    text-align: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent; }
  
  #navigation li.active {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    position: relative; }
  
  #navigation li.home {
    background: none; }
  
  #navigation li a {
    display: block;
    width: 100%;
    padding: 20px 10px;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: relative; }
  
  #navigation li a:hover {
    color: #000; }
  
  #navigation li a .cu-info-icon,
  #navigation li a .fa {
    display: block;
    width: 100%;
    font-size: 44px;
    color: #555; }
  
  #navigation li.home a .fa {
    font-size: 48px; }
  
  #navigation li.campus-alerts a .fa {
    font-size: 40px;
    padding-bottom: 5px; }
  
  #navigation li.suggest a .fa {
    padding-bottom: 3px;
    margin-left: -2px; }
  
  #navigation li.help a .fa {
    padding-bottom: 4px; }
  
  #navigation li.active a .cu-info-icon,
  #navigation li.active a .fa {
    color: #006699 !important; }
  
  #navigation li a:hover .cu-info-icon,
  #navigation li a:hover .fa {
    color: #004466; }
  
  #navigation li.active a {
    background: #fff;
    color: #006699;
    border-left: 4px solid #004466; }
  
  #navigation li.active a:after {
    background: #fff;
    position: absolute;
    width: 6px;
    top: 0;
    right: -5px;
    bottom: 0;
    content: ' '; }
  
  #popup-background {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  
  /* People Search / Suggest a Link
     ------------------------------ */
  .cuinfo-form {
    width: 100%;
    float: left;
    position: relative; }
  
  .cuinfo-form input[type='text'], .cuinfo-form input[type='search'], .cuinfo-form textarea {
    width: 100%;
    height: 2.25em;
    margin: 0 0 0.5em;
    padding: 0.25em 2.85em 0.25em 0.6em;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    border: 1px solid #b5b5b5;
    border-top-color: #a6a6a6;
    -moz-box-shadow: inset 0 1px 2px #ddd;
    -webkit-box-shadow: inset 0 1px 2px #ddd;
    box-shadow: inset 0 1px 2px #ddd; }
  
  .cuinfo-form textarea {
    height: auto;
    margin: 0 0 1.25em; }
  
  .cuinfo-form button[type='submit'] {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.25em;
    height: 2.25em;
    margin: 0 0 0.5em;
    padding: 0.25em 0.5em;
    float: left;
    background: #b51a20;
    color: #fff;
    border: 0; }
  
  .cuinfo-form button[type='submit']:active {
    background: #780001; }
  
  .cuinfo-form input[type='submit'] {
    padding: 6px 12px 7px; }
  
  /* Spotlight
     ------------------------------ */
  .cu-info-sidebar .spotlight {
    line-height: 1.6; }
  
  .cu-info-sidebar .spotlight img {
    width: 100%;
    height: auto;
    /* margin-bottom: 1em; */ }
  
  .cu-info-sidebar .spotlight h4 {
    margin: 0 0 0.75em;
    font-family: 'freight-text-pro-n4', 'freight-text-pro', serif;
    font-weight: 400;
    /*color: #000;*/
    font-size: 24px;
    line-height: 1.3; }
  
  .cu-info .more {
    white-space: nowrap; }
  
  .cu-info .more .icon-arrow-thin-right {
    font-size: 75%;
    margin-left: 0.55em;
    position: relative;
    top: 0; }
  
  /* Chronicle News
     ------------------------------ */
  .cu-info-block.news {
    display: none; }
  
  .cu-info-sidebar .chronicle-entry {
    padding-bottom: 0;
    clear: both;
    display: block; }
  
  .cu-info-sidebar .chronicle-entry-thumb {
    padding-bottom: 0;
    float: left;
    margin: 0 1.3em 0 0;
    clear: left; }
  
  .cu-info-sidebar .chronicle-entry .tag {
    color: #989898;
    font-size: 13px; }
  
  a.chronicle-entry-title {
    /*color: #006699;*/ }
  
  .cu-info-sidebar .cu-info-block:last-of-type {
    border: 0; }
  
  .cu-info-sidebar .chronicle-entry:after {
    background: none; }
  
  .chronicle-entry.hideme {
    display: none; }
  
  /*In Memory */
  .in-memory {
    display: none; }
  
  /* Top News
     ------------------------------ */
  .cu-info-block.top-news {
    /*line-height: 1.6;*/ }
  
  .cu-info-block.top-news .node {
    float: left;
    width: 100%; }
  
  .cu-info-block.top-news .node:visited {
    color: #000 !important; }
  
  .cu-info-block.top-news .node:hover {
    text-decoration: none; }
  
  .cu-info-block.top-news .node:hover h2,
  .cu-info-block.top-news .node:hover h3,
  .cu-info-block.top-news .node:hover h4,
  .cu-info-block.top-news .node:hover h5 {
    text-decoration: underline; }
  
  .cu-info-block.top-news .node p {
    font-weight: normal;
    color: #000;
    cursor: text; }
  
  .cu-info-block.top-news .node:hover p {
    cursor: text;
    text-decoration: none; }
  
  .cu-info-block.top-news img {
    width: 35%;
    max-width: 180px;
    height: auto;
    margin: 0 1.5em 10px 0;
    float: left; }
  
  .lt-ie9 .cu-info-block.top-news img {
    width: 180px;
    height: auto; }
  
  .cu-info-block.top-news h4 {
    margin: 0 0 0.15em;
    font-family: 'freight-text-pro-n4', 'freight-text-pro', serif;
    font-weight: 400;
    color: #000;
    font-size: 25px;
    line-height: 1.3; }
  
  .cu-info-block.top-news time {
    display: block;
    margin: 0 0 1em; }
  
  /* Social Media
     ------------------------------ */
  #sidebar-social {
    margin-top: -30px; }
  
  .cu-info-social-block {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-align: center; }
  
  .cu-info-social-block.social-instagram {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 40px; }
  
  .lt-ie9 .cu-info-social-block.social-instagram {
    margin-top: 25px; }
  
  .cu-info-social-block.social-instagram p:last-of-type {
    margin-bottom: 0; }
  
  .cu-info-social-block .tweet {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-color: #e6e6e6; }
  
  .cu-info-social-block .tweet:last-of-type {
    border: 0; }
  
  .cu-info-social-block .cu-title .icon-twitter,
  .cu-info-social-block .cu-title .icon-instagram {
    font-size: 32px;
    display: block;
    color: rgba(0, 0, 0, 0.15); }
  
  .cu-info-social-block .cu-title .icon-instagram {
    margin-bottom: 4px; }
  
  /* Cornell Today
     ------------------------------ */
  .cu-info .home-events {
    width: 100%;
    margin: 0;
    overflow: hidden;
    /* remove after applying JavaScript RWD */ }
  
  /* Filter Alerts */
  #filter-alerts {
    padding: 0 0 .5em .0;
    margin: 0 0 .5em 0; }
  
  #filter-alerts-cols {
    overflow: auto; }
  
  @media (min-width: 467px) {
    /* ************** */
    #filter-alerts-cols .cu-input {
      float: left;
      width: 50%; } }
  @media (min-width: 1420px) {
    /* ************** */
    #filter-alerts-cols .cu-input {
      float: left;
      width: 25%; } }
  /* Favorites
     ------------------------------ */
  #section-home {
    display: none; }
  
  /* customize button */
  .favorites-customize {
    margin: 0 16px 0 12px;
    padding: 2px 10px 2px 8px;
    text-transform: none;
    color: #006699;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 15px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    float: right; }
  
  .favorites-customize .fa {
    margin-right: 4px;
    color: #006699;
    font-size: 17px;
    position: relative;
    top: 1px; }
  
  .favorites-customize:hover {
    color: #004466; }
  
  .favorites-customize:hover .fa {
    color: #004466; }
  
  .cu-info .tip {
    font-size: 15px;
    color: #707070;
    text-transform: none;
    font-weight: 400;
    letter-spacing: normal;
    display: none;
    /* javascript activated */ }
  
  .cu-info .enabled .tip {
    display: inline-block; }
  
  .enabled .favorites-customize {
    background: #707070;
    /*#006699;*/
    color: #fff;
    text-decoration: none; }
  
  .enabled .favorites-customize .fa {
    color: #fff; }
  
  /* welcome prompt */
  .cuinfo-note {
    float: left;
    width: 100%;
    padding: 25px;
    margin: 0 0 42px;
    background: #e8f0f5;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
  
  .cuinfo-note.centered {
    text-align: center; }
  
  .cuinfo-note h2 {
    font-size: 21px;
    font-style: italic;
    color: #414b50;
    margin: 0 0 0.3em;
    font-family: 'freight-text-pro-n4', 'freight-text-pro', serif; }
  
  .lt-ie9 .cuinfo-note h2 {
    font-style: normal; }
  
  .cuinfo-note p {
    font-size: 16px;
    color: #023a56; }
  
  .cuinfo-note a {
    font-style: inherit;
    font-family: inherit;
    text-decoration: underline; }
  
  .cuinfo-button {
    display: inline-block;
    padding: 0.3em 0.75em;
    min-width: 9em;
    background: #707070;
    color: #fff !important;
    font-weight: 400;
    text-align: center;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  
  .cuinfo-button:hover {
    background: #666;
    text-decoration: none; }
  
  .cuinfo-button.accept, .cuinfo-button.done {
    background: #006699; }
  
  .cuinfo-button.accept:hover, .cuinfo-button.done:hover {
    background: #226d93; }
  
  /*
  .cuinfo-button:active {
      background: #222;
  }
  .cuinfo-button.accept:active, .cuinfo-button.done:active {
      background: #184c67;
  }
  */
  #favorites-welcome h2 span {
    background: url("../images/star_outline.svg") 0 0.1em no-repeat;
    padding-left: 28px; }
  
  .no-svg #favorites-welcome h2 span {
    background: url("../images/star_outline.png") 0 0.1em no-repeat; }
  
  #favorites-welcome .cuinfo-button, #favorites .cuinfo-button {
    margin: 0.5em 0 0.35em; }
  
  #favorites-welcome .cuinfo-button.accept {
    margin-right: 30px; }
  
  /* edit favorites */
  .cuinfo-button.done {
    display: none;
    /* javascript activated */
    float: right;
    margin-right: 2px !important;
    clear: both;
    min-width: 7em; }
  
  .favorites-edit .cuinfo-button.done {
    display: inline-block; }
  
  .favorites-edit li a:hover, .favorites-edit li.enabled a {
    background-color: #f5f5f5; }
  
  .favorites-edit li {
    padding: 0 12px 0 0 !important; }
  
  .favorites-edit li a {
    background: url("../images/star.svg") 2px 3px no-repeat;
    padding-left: 29px !important;
    display: block !important;
    padding: 3px 0;
    margin: 0 !important; }
  
  .no-svg .favorites-edit li a {
    background: url("../images/star.png") 2px 4px no-repeat; }
  
  .favorites-edit li.enabled a {
    background-image: url("../images/star_on.svg");
    background-color: #f5f5f5; }
  
  .no-svg .favorites-edit li.enabled a {
    background-image: url("../images/star_on.png"); }
  
  .favorites-edit li a:hover {
    color: #000;
    text-decoration: none; }
  
  #favorites.favorites-edit li.enabled a {
    background-color: transparent; }
  
  #favorites {
    display: none;
    /* javascript activated */
    float: left;
    clear: both;
    padding: 12px 15px;
    margin-left: -15px;
    margin-bottom: 27px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 100%; }
  
  #favorites li a {
    background-color: transparent !important; }
  
  #favorites.enabled {
    background: #e8f0f5; }
  
  #favorites.empty {
    background: #f5f5f5;
    padding: 12px 15px; }
  
  #favorites.empty h4 {
    margin: 0; }
  
  #favorites.enabled h4 {
    margin-bottom: 20px; }
  
  #favorites.empty .link-pile {
    display: none; }
  
  .favorites-empty {
    display: none;
    /* javascript activated */
    margin-bottom: 13px; }
  
  .enabled.empty .favorites-empty {
    display: block; }
  
  .campus-alerts .badge-alert, .hide {
    display: none; }
  
  /* Responsive Web Design 
  ** *************************************************** */
  /* ********************************************************** */
  @media (max-width: 1024px) {
    /* ************* */
    #navigation {
      font-size: 85%;
      position: fixed;
      top: 52px; }
  
    #navigation li a {
      padding: 15px 10px; }
  
    #navigation li a .cu-info-icon,
    #navigation li a .fa {
      font-size: 38px; }
  
    #navigation li.home a .fa {
      font-size: 41px; }
  
    #navigation li.campus-alerts a .fa {
      font-size: 35px; }
  
    .badge-alert {
      font-size: 13px;
      line-height: 14px;
      width: 15px;
      height: 15px;
      top: 16px; }
  
    @-moz-document url-prefix() {
      /* FF */
      .badge-alert {
        line-height: 12px; } }
    .touch .badge-alert, .win .badge-alert {
      line-height: 12px; }
  
    .cu-info .cu-news.engaged .news-headline, .cu-info-sidebar .spotlight h4, .cu-info-block.top-news h4 {
      font-size: 22px;
      line-height: 1.2; }
  
    .cu-info-block.campus-updates h4 {
      padding: 5px 10px; }
  
    /* ************** */ }
  /* ********************************************************** */
  @media (max-width: 1023px) {
    /* ************* */
    .alerts-text-notify-visible {
      display: block; }
  
    /* Floating Navigation Tabs */
    .cu-info-main {
      padding-left: 5%; }
  
    #mobile-toggle {
      display: block;
      text-align: right;
      padding: 3px 0;
      position: absolute;
      z-index: 2001;
      left: 0;
      top: 0; }
  
    #mobile-toggle span.label-text {
      text-indent: 1000em;
      overflow: hidden;
      display: block;
      width: 1px;
      height: 1px; }
  
    #mobile-toggle span.fa {
      font-size: 24px;
      background: #006699;
      color: #fff;
      padding: 4px 10px 5px;
      -moz-border-radius: 0 2px 2px 0;
      -webkit-border-radius: 0 2px 2px 0;
      border-radius: 0 2px 2px 0;
      -moz-transition: background-color .15s;
      -ms-transition: background-color .15s;
      -o-transition: background-color .15s;
      -webkit-transition: background-color .15s;
      transition: background-color .15s; }
  
    #mobile-toggle.open span.fa {
      background: #828282;
      background: rgba(130, 130, 130, 0.7); }
  
    #mobile-toggle.open span.fa:before {
      content: '\f100'; }
  
    #navigation {
      background: rgba(246, 246, 246, 0.95);
      position: absolute;
      z-index: 2000;
      width: 100px;
      top: 0;
      bottom: auto;
      left: -100px;
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      -moz-border-radius: 0 2px 2px 0;
      -webkit-border-radius: 0 2px 2px 0;
      border-radius: 0 2px 2px 0;
      -moz-transition: left .15s;
      -ms-transition: left .15s;
      -o-transition: left .15s;
      -webkit-transition: left .15s;
      transition: left .15s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
  
    #navigation.open {
      left: 0; 
      width: 100%; }
  
    #navigation ul {
      margin: 41px 0 20px; }
  
    /*
    #navigation li.home {
       border-top: 1px solid #dbdbdb;
    }
    */
    #navigation li.active a:after {
      content: none; }
  
    #mobile-toggle, #navigation {
      top: 52px;
      position: fixed; }
  
    #mobile-toggle.fixed, #navigation.fixed {
      top: 0; }
  
    #navigation {
      z-index: 10000; }
  
    #mobile-toggle {
      z-index: 10001; }
  
    #popup-background.open {
      display: block; }
  
    /* #main {
        overflow-x: hidden;
    } */
    /* ************** */ }
  /* ********************************************************** */
  @media (max-width: 60em) {
    /* ************* */
    .cu-info-block.campus-updates h3 {
      margin-top: 0.75em; }
  
    #favorites {
      margin-bottom: 0; }
  
    .cu-info .social-instagram p {
      font-size: 16px; }
  
    /* ************** */ }
  /* ********************************************************** */
  @media (max-width: 767px) {
    /* ************** */
    .cu-info .link-pile li {
      padding-right: 20px;
      width: 50%; }
  
    .cu-info .link-pile li:nth-child(3n+1) {
      padding-right: inherit;
      clear: none; }
  
    .cu-info .link-pile li:nth-child(odd) {
      clear: left; }
  
    .cu-info .link-pile li:nth-child(even) {
      padding-right: 0; }
  
    .cu-info-main, .cu-info-sidebar {
      width: 100%;
      /* float: left; */
      clear: both;
      padding-left: 4%;
      padding-right: 4%; }
  
    .cu-info-sidebar {
      /* padding-top: 70%; */ }
  
    #favorites {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      padding: 12px 4%;
      margin-left: -4%; }
  
    /* flip navigation to right */
    #mobile-toggle {
      text-align: left;
      padding: 3px 0;
      left: auto;
      right: 0; }
  
    #mobile-toggle span.fa {
      -moz-border-radius: 2px 0 0 2px;
      -webkit-border-radius: 2px 0 0 2px;
      border-radius: 2px 0 0 2px; }
  
    #mobile-toggle span.fa:before {
      content: '\f100'; }
  
    #mobile-toggle.open span.fa:before {
      content: '\f101'; }
  
    #navigation {
      left: auto;
      width: 140px;
      right: -140px;
      -moz-border-radius: 2px 0 0 2px;
      -webkit-border-radius: 2px 0 0 2px;
      border-radius: 2px 0 0 2px;
      -moz-transition: right .15s;
      -ms-transition: right .15s;
      -o-transition: right .15s;
      -webkit-transition: right .15s;
      transition: right .15s; }
  
    #navigation.open {
      left: auto;
      right: 0; }
  
    #navigation li:last-child {
      margin-bottom: 10px; }
  
    #navigation li a {
      line-height: 1.3;
      padding: 8px 10px; }
  
    #navigation li.active a {
      border-right: 4px solid transparent;
      border-left: 4px solid #66a4c4; }
  
    #navigation li a .fa, #navigation li a .cu-info-icon {
      font-size: 28px; }
  
    #navigation li.home a .fa {
      font-size: 30px; }
  
    #navigation li.campus-alerts a .fa {
      font-size: 26px; }
  
    .badge-alert {
      top: 10px; }
  
    /* ************** */ }
  /* ********************************************************** */
  @media (max-width: 36em) {
    /* ************* */
    .cu-info-block.campus-updates h3 {
      margin-top: 1.25em; }
  
    .cu-info .cu-news.engaged .news-headline, .cu-info-sidebar .spotlight h4, .cu-info-block.top-news h4 {
      font-size: 20px; }
  
    /* .cu-info-sidebar {
        display: block;
    } */
    .cu-info .link-pile li {
      width: 100%; }
  
    #favorites.enabled {
      margin-bottom: 30px; }
  
    /* ************** */ }
  /* ********************************************************** */
  @media (max-width: 567px) {
    /* ************** */
    /* ************** */ }
  /* ********************************************************** */
  @media (max-width: 479px) {
    /* ************** */
    #favorites-welcome .cuinfo-button {
      margin: 8px 50px !important; }
  
    /* ************** */ }
  /* ********************************************************** */
  @media (max-width: 350px) {
    /* ************** */
    .cu-info-block.campus-updates time.news-date {
      display: block;
      position: relative !important;
      left: 0 !important; }
  
    /* ************** */ }
  /* ********************************************************** */
  @media (max-height: 480px) {
    /* ************** */
    #navigation {
      bottom: 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch; }
  
    #navigation li a {
      padding: 5px 10px; }
  
    /* ************** */ }
  @media (max-width: 64em) and (min-width: 48em) {
    .chronicle-entry-thumb {
      display: none; } }
  #favorites-welcome {
    display: none; }
  
  /* 
  HEADER OVERRIDES 
  ADDED BY MH2249 - MAY 2018
  */
  @media (min-width: 36em) {
    .cu-info-wrapper {
      min-height: calc(100vh - 100px); } }
  @media (min-width: 60em) {
        /* .cu-info-wrapper{
            display: flex;
        }
    
        .cu-info-wrapper:after{
            display: none;
        }
    
        .cu-info-main, .cu-info-sidebar{
            float: none;
            clear: both;
            box-sizing: border-box;
        } */
    .cu-info #cu-hdr {
      height: 52px;
      margin-top: 0;
      padding-top: 0;
      position: relative; }
  
    .cu-info .cu-hdr-inner {
      z-index: 0; }
  
    .cu-info .hdr-embeddedsearch #cu-nav {
      max-width: 100%;
      position: absolute; }
  
    .cu-info .hdr-embeddedsearch #cu-nav-utility {
      max-width: 100em;
      margin: 0 auto;
      left: 0;
      pointer-events: none; }
  
    .cu-info .hdr-embeddedsearch #cu-nav-utility form {
      pointer-events: all; }
  
    .cu-info .hdr-embeddedsearch #search-query,
    .cu-info .hdr-embeddedsearch .search-submit {
      height: 42px; }
  
    .cu-info .hdr-embeddedsearch .search-submit {
      width: 42px; }
  
    .cu-info .hdr-embeddedsearch #search-query {
      width: 200px;
      max-width: 200px; }
  
    .cu-hdr-bg,
    #cu-hdr:before {
      top: auto;
      height: 52px; }
  
    .cu-hdr-inner {
      height: 52px; }
  
    #cu-brand {
      background-image: url("../../_cornell-assets/core/images/45pxlogo-white.svg?1390332815") !important;
      background-size: 34px 34px;
      background-repeat: no-repeat;
      display: inline-block;
      top: 0;
      margin-top: 9px;
      margin-left: 1em;
      vertical-align: middle;
      padding-left: 45px;
      width: 34px;
      height: 34px; } }
  .campus-updates .news-item .news-content {
    margin-left: 0px; }
  
  .cu-news.engaged .news-content {
    margin-left: 0px; }
  
  /*# sourceMappingURL=cuinfo.css.map */
  
  #cu-brand:focus, #cu-brand:active {
    border: 1px dotted white;
  }
  